<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
	<title>Test evaluation</title>
	<script type="text/javascript">
		/*<![CDATA[*/
		function showResults(sectionIdent) {
			// show answers by adding correct class name
	        var x = document.getElementsByTagName("INPUT");
	        for (var i = 0; i < x.length; i++) {
	        	var elIn = x[i];
	        	
	        	if (elIn.name.startsWith('response-s' + sectionIdent + 'q')) {
		        	var clazz = elIn.className;
		        	var newClaz = 'default'; 
		        	if (clazz.includes("rightAnswer")) {
		        		newClaz = elIn.checked ? 'success' : 'warning';
		        	} else {
		        		newClaz = elIn.checked ? 'danger' : 'default';
		        	}
	        		var elSp = elIn.nextElementSibling;
	        		if (elSp != null) {
	        			elSp.innerHTML = '<span class="label label-' + newClaz + '" >'+ elSp.innerText + '</span>';	
	        		}
	        		
	        	}
	        }
	     	// show answer for FIB type
	        var x = document.getElementsByName('hiddenResponse-s' + sectionIdent);
	        for (var i = 0; i < x.length; i++) {
	        	x[i].style.visibility = "visible";
	        }	        
		}
		/*]]>*/
	</script>
</head>
<body>
	<h2 layout:fragment="header" id="_top">Test : <span th:text="${dto.id}">XYZ</span></h2>
	<div layout:fragment="content">
		<p>
			<strong>Content:</strong><br/>
			<span th:each="section,stat : ${dto.sections}">
				<a th:attr="href='#section' + ${section.ident} + ''" th:text="${section.title}" >No text</a>
				<!--/* eliminate delimiter after last item */-->
				<span th:if="${stat.index &lt; stat.size-1}"> | </span>
			</span>
		</p>
		<!-- evaluation hints -->
		<p>
			<strong>Evaluation hints:</strong><br/>
			<span class="label label-success">OK</span> - the correct answer was selected
			<span class="label label-warning">Bad</span> - the correct answer was not selected
			<span class="label label-danger">Bad</span> - the wrong answer was selected
			<span class="label label-default">OK</span> -  the correct answer was not selected
		</p>
		<!-- sections -->
		<div th:each="section : ${dto.sections}" class="panel panel-default">
			<div class="panel-heading">
				<h3 th:attr="id='section' + ${section.ident} + ''"><span th:text="${section.title}">No title</span></h3>
				<button type="button" class="btn btn-primary" th:onclick="'javascript:showResults(' + ${section.ident} + ')'">Evaluate</button>
				<a href="#_top"><span class="glyphicon glyphicon-upload"></span></a>
				Min. score:<span th:text="${section.minScore}">No min. score</span>, 
				Time limit:<span th:text="${section.timeLimit}">No time limit</span>,
				Questions: <span th:text="${#lists.size(section.questions)}">No question</span>
			</div>

			<div class="panel-body">			
				<div th:each="question : ${section.questions}">
					<h3 class="alert alert-warning"><span th:text="${question.title}">No title</span></h3>
					<em th:text="${question.comment}">No comment</em>

					<!-- add input box for the correct answer -->
					<div th:switch="${question.type}">
						<span th:case="'FIB'"><input type="text" th:attr="name='response-s' + ${section.ident} + 'q' + ${question.ident} + ''" /></span>
					</div>
	
					<div th:each="response : ${question.responses}">
						<p th:switch="${question.type}">
							<span th:case="'1ofN'"><input type="radio" th:attr="name='response-s' + ${section.ident} + 'q' + ${question.ident} + ''" th:value="${response.ident}" th:class="${response.right == 'yes' ? 'rightAnswer' : ''}" /> <span th:text="${response.title}">No title</span></span>
							<span th:case="'MofN'"><input type="checkbox" th:attr="name='response-s' + ${section.ident} + 'q' + ${question.ident} + ''" th:value="${response.ident}" th:class="${response.right == 'yes' ? 'rightAnswer' : ''}" /> <span th:text="${response.title}">No title</span></span>
							<span th:case="'FIB'" th:attr="name='hiddenResponse-s' + ${section.ident} + ''" style="visibility:hidden"><input type="radio" th:attr="name='field-s' + ${section.ident} + 'q' + ${question.ident} + ''" th:value="${response.ident}" /> <span th:text="${response.title}" class="label label-success">No title</span></span>
							<span th:case="*">Unknown question type!</span>
						</p>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<button type="button" class="btn btn-primary" th:onclick="'javascript:showResults(' + ${section.ident} + ')'">Evaluate</button>
			</div>
		</div>
	</div>
</body>
</html>
