<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
	<title>Test evaluation</title>
	<script type="text/javascript">
		/*<![CDATA[*/
		function evaluateTest(sectionIdent) {
	        var x = document.getElementsByName('rr-s' + sectionIdent);
	        for (var i = 0; i < x.length; i++) {
	        	x[i].style.visibility = "visible";
	        }
		}
		/*]]>*/
	</script>
</head>
<body>
	<h2 layout:fragment="header" id="_top">Test : <span th:text="${dto.id}">XYZ</span></h2>
	<div layout:fragment="content" class="container">
		<span th:each="section : ${dto.sections}">
			<a th:attr="href='#section' + ${section.ident} + ''"><span th:text="${section.title}">No title</span></a> |
		</span>
		<div th:each="section : ${dto.sections}" class="panel panel-default">
			<div class="panel-heading">
				<h3 th:attr="id='section' + ${section.ident} + ''"><span th:text="${section.title}">No title</span> [Ident=<span th:text="${section.ident}">No ident</span>]</h3>
				<a href="#_top"><span class="glyphicon glyphicon-upload"></span></a>
				Min. score:<span th:text="${section.minScore}">No min. score</span>, 
				Time limit:<span th:text="${section.timeLimit}">No time limit</span>,
				Questions: <span th:text="${#lists.size(section.questions)}">No question</span>
			</div>

			<div class="panel-body">			
				<div th:each="question : ${section.questions}">
					<h3 class="alert alert-warning"><span th:text="${question.title}">No title</span></h3>
					<em th:text="${question.comment}">No comment</em>
	
					<div th:each="response : ${question.responses}">
						<p th:switch="${question.type}">
							<span th:case="'1ofN'"><input type="radio" th:attr="name='response-s' + ${section.ident} + 'q' + ${question.ident} + ''" name="response" th:value="${response.ident}" /> <span th:text="${response.title}">No title</span></span>
							<span th:case="'MofN'"><input type="checkbox" th:attr="name='response-s' + ${section.ident} + 'q' + ${question.ident} + ''" th:value="${response.ident}" /> <span th:text="${response.title}">No title</span></span>
							<span th:case="'FIB'"><input type="text" th:attr="name='response-s' + ${section.ident} + 'q' + ${question.ident} + ''" th:value="${response.ident}" /></span>
							<span th:case="*">Unknown question type!</span>
							<span th:if="${response.right == 'yes'}" th:attr="name='rr-s' + ${section.ident} + ''" class="label label-success" style="visibility:hidden">OK</span>
						</p>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<button type="button" class="btn btn-primary" th:onclick="'javascript:evaluateTest(' + ${section.ident} + ')'">Evaluate</button>
			</div>
		</div>
	</div>
</body>
</html>
