<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Test processing</title>
</head>
<body>
	<h1 layout:fragment="header">Test : <span th:text="${dto.id}">XYZ</span></h1>
	<div layout:fragment="content" class="container">
		<!-- h3>Note : <span th:text="${dto.comment}">XYZ</span></h3-->
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>Ident</td>
					<td>Title</td>
					<td>Min. score</td>
					<td>Time limit</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${dto.sections}">
					<td th:text="${item.ident}">1</td>
					<td th:text="${item.title}">1</td>
					<td th:text="${item.minScore}">1</td>
					<td th:text="${item.timeLimit}">1</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
