<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
	<title>ISIS Tester</title>
	<link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
	<script src="../../js/jquery-3.1.1.min.js"></script>
	<script src="../../js/bootstrap-3.3.7.min.js"></script>	
</head>
<body>
	<div class="container">
		<!-- menu -->
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		    	<a class="navbar-brand" th:href="@{/}">ISIS Tester</a>
		    </div>
		    <ul class="nav navbar-nav">
		    	<li th:each="item : ${menuItems}"><a th:href="@{'/test/' + ${item}}" ><span th:text="${item}">No title</span></a></li>
			</ul>
		    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:text="#{app.lang}">No message defined</span> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a th:href="@{/?lang=en}">EN</a></li>
            <li><a th:href="@{/?lang=cs}">CS</a></li>
          </ul>
        </li>		    
				<li><a href="https://insis.vse.cz/auth/" > ISIS</a></li>
				<li><a href="https://github.com/arnosthavelka/isis-tester"> Github repo</a></li>
		    </ul>
		  </div>
		</nav>
		<!-- page header -->
		<h1 layout:fragment="header">Layout</h1>
		<div class="panel panel-default">
			<div class="panel-body">
				<!-- page content -->
				<div layout:fragment="content">Fake content</div>
			</div>
			<!-- footer -->
			<div class="panel-footer">
				AHA &copy; 2017
			    <span class="navbar-right" th:style="'padding-right: 15px;'" th:text="'Version ' + ${appVersion}">Version XYZ</span>
			    &nbsp;
			</div>
		</div>
	</div>
</body>
</html>
