<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<title>ISIS Tester</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
		href="../../css/bootstrap.min.css" />
	<link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
</head>
<body>
	<div class="container">
		<!-- menu -->
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		    	<a class="navbar-brand" href="https://github.com/arnosthavelka/isis-tester">ISIS Tester</a>
		    </div>
		    <ul class="nav navbar-nav navbar-right">
				<li><a th:href="@{/test/3PA541}" > 3PA541</a></li>
				<li><a th:href="@{/test/3PA542}" > 3PA542</a></li>
				<li><a th:href="@{/test/3PA546}" > 3PA546</a></li>
		    </ul>
		  </div>
		</nav>
		<!-- page header -->
		<h1 layout:fragment="header">Layout</h1>
		<div class="panel panel-default">
			<div class="panel-body">
				<!-- page content -->
				<div layout:fragment="content">Fake content</div>
			</div>
			<!-- footer -->
			<div class="panel-footer">
				AHA &copy; 2017
			    <span class="navbar-right" th:style="'padding-right: 15px;'" th:text="'Version ' + ${appVersion}">Version XYZ</span>
			    &nbsp;
			</div>
		</div>
	</div>
</body>
</html>
